<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ur5-joint-position-control)/config/ur5_jnt_pos_ctrl.yaml" command="load"/>
  <rosparam file="$(find smart_gripper)/config/hand_H_gazebo_trajectory.yaml" command="load" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find ur5-joint-position-control)/urdf/ur5_jnt_pos_ctrl.xacro'" />
  <?ignore <param name="robot_description" textfile="$(find ur5-joint-position-control)/urdf/ur5_jnt_pos_ctrl.urdf"/> ?>
  
  <!-- Launch world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="false"/>
      <arg name="gui" value="true"/>
      <arg name="physics" value="ode"/>
      <env name="GAZEBO_MODEL_PATH" value="~/.gazebo/models:/workspace/src:/workspace/src/universal_robot:${GAZEBO_MODEL_PATH}"/>
    </include>
  <!-- Load model-->
  <?ignore <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param robot_description -model smart_ur5 -J shoulder_pan_joint -3.14 -J shoulder_lift_joint -1.57 -J elbow_joint 1.57 -J wrist_2_joint 0" respawn="false" output="screen" />
?>
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param robot_description -model smart_ur5" respawn="false" output="screen" />   
  
  <!-- load the controllers --> 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="/ur5" 
    output="screen" args="shoulder_pan_joint_position_controller shoulder_lift_joint_position_controller 
    elbow_joint_position_controller wrist_1_joint_position_controller wrist_2_joint_position_controller 
    wrist_3_joint_position_controller joint_state_controller 
    palm_controller phalanges_controller fingers_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/ur5/joint_states" />
  </node>

</launch>
